My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "eaca5bf9-c633-4d34-a760-edb86274fad1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -448,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b458b37-0440-4110-b62d-7076f4490610",
              "name": "folderProductId",
              "type": "string",
              "value": "={{GOOGLE_DRIVE_FOLDER_ID}}"
            },
            {
              "id": "4b559d50-0017-4f58-afeb-fad3333f3867",
              "name": "folderGeneratedId",
              "type": "string",
              "value": "={{GOOGLE_DRIVE_FOLDER_ID}}"
            },
            {
              "id": "c7a44a49-b828-464c-a9c8-574b801a0a54",
              "name": "baseUrl",
              "type": "string",
              "value": "=https://public.api.foreplay.co/api"
            },
            {
              "id": "8521d447-e36a-453f-944a-8bffa2dc9227",
              "name": "foreplayApiKey",
              "type": "string",
              "value": "={{FOREPLAY_API_KEY}}"
            },
            {
              "id": "12adf778-3c00-4a89-b909-2595238fc3c5",
              "name": "brandId",
              "type": "string",
              "value": "={{FOREPLAY_BRAND_ID}}"
            }
          ]
        },
        "options": {}
      },
      "id": "381f4c59-ffda-4ee1-a07c-afe00fe1f898",
      "name": "Set Workflow Credentials",
      "type": "n8n-nodes-base.set",
      "position": [
        -224,
        816
      ],
      "executeOnce": false,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b65ccd77-d030-47df-b704-78a8174c8876",
              "name": "productName",
              "type": "string",
              "value": "Homyped"
            },
            {
              "id": "ece2edb0-e27e-47fe-8b81-b6160e71e8e9",
              "name": "niche",
              "type": "string",
              "value": "fashion"
            },
            {
              "id": "d94bea58-6546-4a31-876b-650c6e7f1178",
              "name": "category",
              "type": "string",
              "value": "shoes"
            },
            {
              "id": "d7f2b956-0c08-421d-b41a-aedd04a1160e",
              "name": "targetMarket",
              "type": "string",
              "value": "b2c"
            }
          ]
        },
        "options": {}
      },
      "id": "946f602e-faa6-413b-b0ae-d3dce7d2e715",
      "name": "Set Product Information",
      "type": "n8n-nodes-base.set",
      "position": [
        0,
        816
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $('Set Workflow Credentials').item.json.folderProductId }}"
          }
        },
        "options": {}
      },
      "id": "7f0c4aff-e51a-43c0-9603-790d2066bb54",
      "name": "Fetch Product Image from Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        224,
        816
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qK9IyYDlxWjVxz1f",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://public.api.foreplay.co\n",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "brand_id",
              "value": "={{ $('Set Workflow Credentials').item.json.brandId }}"
            },
            {
              "name": "start_date",
              "value": "={{ $now.minus(1, 'month').format('yyyy-MM-dd') }}"
            },
            {
              "name": "end_date",
              "value": "={{ $now.minus(1, 'day').format('yyyy-MM-dd') }}"
            },
            {
              "name": "live",
              "value": "true"
            },
            {
              "name": "display_format",
              "value": "video"
            },
            {
              "name": "publisher_platform",
              "value": "instagram"
            },
            {
              "name": "niches",
              "value": "={{ $('Set Product Information').item.json.niche }}"
            },
            {
              "name": "market_target",
              "value": "={{ $('Set Product Information').item.json.targetMarket }}"
            },
            {
              "name": "languages",
              "value": "en"
            },
            {
              "name": "video_duration_min",
              "value": "5"
            },
            {
              "name": "video_duration_max",
              "value": "30"
            },
            {
              "name": "running_duration_min_days",
              "value": "1"
            },
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "order",
              "value": "longest_running"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Workflow Credentials').item.json.foreplayApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dfd73d6d-155d-44ba-9bf0-3d5be74401d5",
      "name": "Fetch Competitor Video Data (Foreplay API)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        448,
        816
      ],
      "executeOnce": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "e47bc0a2-5e06-4e05-ac6b-28016efb7d64",
      "name": "Split Foreplay Response",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        672,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77b8c6dc-3bdb-4edf-8d65-78d87bca7dd5",
              "name": "desc",
              "type": "string",
              "value": "={{ $json.description }}"
            },
            {
              "id": "659ad795-0aae-4bb1-8bbb-f949475e704e",
              "name": "transcript",
              "type": "string",
              "value": "={{ $json.full_transcription }}"
            },
            {
              "id": "5797be9b-27a2-4f7f-91f4-d8c5663b3d9d",
              "name": "mood",
              "type": "object",
              "value": "={{ $json.emotional_drivers }}"
            },
            {
              "id": "7024af66-9cc5-4064-86e8-ebcd550356a9",
              "name": "duration",
              "type": "number",
              "value": "={{ $json.video_duration }}"
            },
            {
              "id": "68a1fca5-9147-4db0-96b0-b9f7e015088d",
              "name": "pictureUrl",
              "type": "string",
              "value": "=https://drive.google.com/thumbnail?id={{ $('Fetch Product Image from Google Drive').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "97581989-7970-4392-8b68-5a0529a2acb3",
      "name": "Assemble Video Input Data",
      "type": "n8n-nodes-base.set",
      "position": [
        960,
        816
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "11569142-5aa0-4c2c-84db-641a4d3744a6",
      "name": "Iterate Over Ad Examples",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -432,
        1024
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a personalized product video prompt using the following data:\n\nProduct Information:\nProduct Name: {{ $('Set Product Information').item.json.productName }}\nNiche: {{ $('Set Product Information').item.json.niche }}\nCategory: {{ $('Set Product Information').item.json.category }}\nTarget Market: {{ $('Set Product Information').item.json.targetMarket }}\n\nDescription:\n{{ $json.desc }}\n\nTranscription (can be null):\n{{ $json.transcript }}\n\nMood (JSON format of emotion scores, each range from 1-10):\n{{ $json.mood.toJsonString() }}\n\nVideo Duration (in seconds):\n{{ $json.duration }}",
        "options": {
          "systemMessage": "=## ROLE\n\nYou are VidPrompt, an AI assistant that generates personalized, cinematic-quality prompts for text-to-video generation models.\n\nYour task is to take the user’s inputs — `productName`, `niche`, `category`, `targetMarket`, `desc`, `transcript`, `mood`, and `duration` — and produce a vivid, emotionally aligned paragraph describing the ideal video scene.\n\n## INPUT FIELDS\n\n- productName → The brand or product name to be featured in the video.\n- niche → The specific market focus (e.g. fitness, fashion, tech, education).\n- category → The product or service type (e.g. sportswear, skincare, SaaS tool).\n- targetMarket → The intended audience or user group.\n- desc → A short text describing the concept, product, or message of the video.\n- transcript → (Optional) May contain narration or spoken lines. If null, focus purely on visuals.\n- mood → JSON object with emotion scores (e.g. achievement, fear, curiosity, etc.).\n- duration → Target video duration in seconds.\n\n## TASK OBJECTIVES\n\n1. Incorporate white label info naturally — subtly weave the product name, niche, category, and target market into the video prompt.\n   - Example: “A cinematic 30-second video ad for `productName`, a cutting-edge `category` in the `niche` niche, designed for `targetMarket`.”\n\n2. Infer the emotional tone from the top 1–2 mood values (use human-readable emotion names).\n\n3. Determine video length:\n   - ≤10s → short video\n   - >10s and ≤20s → medium-length video\n   - >20s → long video\n\n4. Describe style (cinematic, product ad, explainer, vlog, animation, etc.) based on the description and tone.\n\n5. Incorporate the transcript if provided (e.g. describe it as voiceover, narrator dialogue, or lip-synced scene).\n\n6. Write one cohesive, richly detailed paragraph that mentions:\n   - The title or theme (implied or stated naturally)\n   - The scene visuals and camera feel\n   - The mood and style\n   - The video duration category\n\n## RULES\n\n- Don't include any double quotes for in the generated prompt (\"\"), you could use single quote instead ('').\n- Don't include or mention other brands in the generated prompt, just focus on the white label product.\n\n## EXAMPLE\n\nInput:\n{\n  \"product_name\": \"Nike Air Superfly\",\n  \"niche\": \"Athletic Footwear\",\n  \"category\": \"Sportswear\",\n  \"target_market\": \"Runners and fitness enthusiasts\",\n  \"desc\": \"Set the pace in the Nike Air Superfly, now with upgraded cushioning and a low-profile design.\",\n  \"transcript\": null,\n  \"mood\": {\n    \"achievement\": 7,\n    \"anger\": 1,\n    \"authority\": 2,\n    \"belonging\": 1,\n    \"competence\": 8,\n    \"curiosity\": 3,\n    \"empowerment\": 6,\n    \"engagement\": 4,\n    \"esteem\": 5,\n    \"fear\": 1,\n    \"guilt\": 1,\n    \"nostalgia\": 1,\n    \"nurturance\": 1,\n    \"security\": 3,\n    \"urgency\": 2\n  },\n  \"duration\": 21.61\n}\n\nOutput:\nA long, cinematic sports commercial in an achievement-driven and empowering mood, promoting the Nike Air Superfly, a premium sportswear innovation in the athletic footwear niche for runners and fitness enthusiasts. The 30-second film opens at sunrise with a runner sprinting across the cityscape, sweat glinting in golden light. Smooth tracking shots capture the low-profile design and upgraded cushioning, symbolizing precision and drive. The mood feels strong and aspirational, underscored by rhythmic breathing and pulsing ambient beats that echo determination."
        }
      },
      "id": "406d1473-a47d-4cc7-a1fb-14975ce71903",
      "name": "Generate Video Prompt",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -208,
        1088
      ],
      "executeOnce": false,
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "92a28d6f-19b2-492f-a76f-10bfdf62fd21",
      "name": "Google Gemini LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -144,
        1312
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "y956kuJd2XifAZpt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sora-2-image-to-video\",\n  \"input\": {\n    \"callBackUrl\": \"{{ $('Set Workflow Credentials').item.json.callBackUrl }}\",\n    \"prompt\": \"{{ $json.output }}\",\n    \"image_urls\": [\"{{ $('Assemble Video Input Data').item.json.pictureUrl }}\"],\n    \"aspect_ratio\": \"portrait\",\n    \"remove_watermark\": true\n  }\n}",
        "options": {}
      },
      "id": "38584938-6e94-4884-aac0-060e5f68811d",
      "name": "Create Video Task (Kie.ai)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        144,
        1088
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "iLBi2IiGJn7Wher6",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "572c792b-09f2-49f9-9d76-da914740f919",
      "name": "Check Video Generation Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        368,
        1088
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "iLBi2IiGJn7Wher6",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data.resultJson.parseJson().resultUrls.first() }}",
        "options": {}
      },
      "id": "434eba0f-2de4-41f7-8dda-2c604b13d35a",
      "name": "Download Finished Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        816,
        1024
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "0132d903-cdf6-4311-bd1b-5e6f0b2dcfd0",
      "name": "Wait Before Checking Again",
      "type": "n8n-nodes-base.wait",
      "position": [
        816,
        1248
      ],
      "webhookId": "7ab58c3b-a1df-4114-a6df-74b5835a9b61",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "={{ $now.format('yyyy-MM-dd HH:mm') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Set Workflow Credentials').item.json.folderGeneratedId }}"
        },
        "options": {}
      },
      "id": "7ec5553f-af82-493d-9bfa-584cdd95adba",
      "name": "Upload Generated Video to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1040,
        1328
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qK9IyYDlxWjVxz1f",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "3f37a57f-f3d0-4d14-80da-8574c383a0b9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "5872a82e-f279-4cf0-89fe-3e774e34bc61",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "failed"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Failed"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "aaac9628-ca31-42f0-94c2-cb7871b4a0d6",
      "name": "Video Generation Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        592,
        1056
      ],
      "typeVersion": 3.3
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Workflow Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Video Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video Prompt": {
      "main": [
        [
          {
            "node": "Create Video Task (Kie.ai)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Finished Video": {
      "main": [
        [
          {
            "node": "Upload Generated Video to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Product Information": {
      "main": [
        [
          {
            "node": "Fetch Product Image from Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Foreplay Response": {
      "main": [
        [
          {
            "node": "Assemble Video Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Generation Status": {
      "main": [
        [
          {
            "node": "Download Finished Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Iterate Over Ad Examples",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Checking Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterate Over Ad Examples": {
      "main": [
        [],
        [
          {
            "node": "Generate Video Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Workflow Credentials": {
      "main": [
        [
          {
            "node": "Set Product Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Video Input Data": {
      "main": [
        [
          {
            "node": "Iterate Over Ad Examples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video Task (Kie.ai)": {
      "main": [
        [
          {
            "node": "Check Video Generation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Checking Again": {
      "main": [
        [
          {
            "node": "Check Video Generation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Generation Status": {
      "main": [
        [
          {
            "node": "Video Generation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Product Image from Google Drive": {
      "main": [
        [
          {
            "node": "Fetch Competitor Video Data (Foreplay API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Generated Video to Google Drive": {
      "main": [
        [
          {
            "node": "Iterate Over Ad Examples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Competitor Video Data (Foreplay API)": {
      "main": [
        [
          {
            "node": "Split Foreplay Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9bd9104b-d008-4b01-943f-dfdfe6ff3980",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04909de90b66e3943c0f9c0ebdeb2f31137b760009116344a164678c5ccba195"
  },
  "id": "APfYdE0THMQH1R1r",
  "tags": []
}